:root {
  --ui-scale: 1;
}

html {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#chat-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(100% - 20px * var(--ui-scale));
  height: calc(100% - 10px * var(--ui-scale));
  padding: calc(5px * var(--ui-scale)) calc(10px * var(--ui-scale));
  display: flex;
  flex-direction: column-reverse;
}

.chat-item {
  background-color: rgba(32, 32, 32, 0.50);
  padding: calc(10px * var(--ui-scale));
  border-radius: calc(16px * var(--ui-scale));
  margin: calc(5px * var(--ui-scale)) 0px;
  font-size: calc(17px * var(--ui-scale));
  line-height: calc(28px * var(--ui-scale));
}

.chatter-name {
  font-weight: 600;
}

.badge {
  vertical-align: sub;
  margin: 0px calc(2px * var(--ui-scale));
  width: calc(18px * var(--ui-scale));
  height: calc(18px * var(--ui-scale));
}

.emote {
  vertical-align: bottom;
  margin: 0px calc(2px * var(--ui-scale));
  width: calc(28px * var(--ui-scale));
  height: calc(28px * var(--ui-scale));
}