:root {
  --ui-scale: 1;
}

body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#chat-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(100% - 20px * var(--ui-scale));
  height: calc(100% - 10px * var(--ui-scale));
  padding: calc(5px * var(--ui-scale)) calc(10px * var(--ui-scale));
  display: flex;
  flex-direction: column-reverse;
  mask-image: linear-gradient(to bottom, #0000, #FFFF 15%);
  -webkit-mask-image: linear-gradient(to bottom, #0000, #FFFF 15%);
  overflow-y: clip;
}

.message {
  background-color: rgba(32, 32, 32, 0.50);
  padding: calc(10px * var(--ui-scale));
  border-radius: calc(16px * var(--ui-scale));
  margin: calc(5px * var(--ui-scale)) 0px;
  font-size: calc(17px * var(--ui-scale));
  line-height: calc(28px * var(--ui-scale));
  overflow-y: clip;
  flex: none;
}

.chatter-name {
  font-weight: 600;
}

.badge {
  vertical-align: sub;
  margin: 0px calc(2px * var(--ui-scale));
  width: calc(18px * var(--ui-scale));
  height: calc(18px * var(--ui-scale));
}

.emote {
  vertical-align: bottom;
  margin: 0px calc(2px * var(--ui-scale));
  width: calc(28px * var(--ui-scale));
  height: calc(28px * var(--ui-scale));
}

.replying-to {
  font-size: calc(13px * var(--ui-scale));
  color: #AAA;
  line-height: initial;
  white-space: nowrap;
  overflow-x: clip;
  mask-image: linear-gradient(to right, #FFFF 80%, #0000);
  -webkit-mask-image: -webkit-linear-gradient(to right, #FFFF 80%, #0000);
}

.message-remove {
  animation: 1s ease-in message-remove;
  opacity: 0%;
}

.message-add {
  animation: 0.3s ease message-add;
}

@keyframes message-remove {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes message-add {
  from {
    margin-bottom: calc(5px * var(--ui-scale) - var(--message-height));
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}